input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input,
select,
textarea {
  background-color: transparent !important;
  outline: none;
}

@layer utilities {
  .custom-input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    border: dotted green;
  }
}
