input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input,
select,
textarea {
  background-color: transparent !important;
  outline: none;
}
