.text-2xs {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

.text-3xs {
  font-size: 0.5rem;
  line-height: 0.6rem;
}

.text-2xs {
  font-size: 0.3rem;
  line-height: 0.4rem;
}

.vox-scroll-design::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
  position: absolute;
  left: 0;
  height: 3px;
}

.vox-scroll-design.scroll-x-md::-webkit-scrollbar {
  height: 7px;
}

.vox-scroll-design.scroll-y-md::-webkit-scrollbar {
  width: 7px;
}

.vox-scroll-design::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 2em;
  width: 20px;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

input,
textarea {
  background-color: transparent !important;
  outline: none;
  color: red;
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
