.text-2xs {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

.text-3xs {
  font-size: 0.5rem;
  line-height: 0.6rem;
}

.text-2xs {
  font-4ize: 0.3rem;
  line-height: 0.4rem;
}

.vox-scroll-design::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
  position: absolute;
  left: 0;
}

.vox-scroll-design::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 2em;
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
