@font-face {
  font-family: VXIcons;
  src: url(../fonts/icons.woff2), url(../fonts/icons.woff);
}

span.vx-icon {
  font-family: VXIcons;
  font-size: 1.5em;
}

span.vx-icon.size-sm {
  font-size: 1em;
}

span.vx-icon.size-md {
  font-size: 1.5em;
}

span.vx-icon.size-2md {
  font-size: 1.8em;
}

span.vx-icon.size-lg {
  font-size: 2em;
}

span.vx-icon.size-xl {
  font-size: 2.5em;
}

span.vx-icon.size-2xl {
  font-size: 3em;
}

.vx-email::before {
  content: '\0030';
}

.vx-qr::before {
  content: '\0031';
}

.vx-asterik::before {
  content: '\0032';
}

.vx-alarm::before {
  content: '\0033';
}

.vx-time::before {
  content: '\0034';
}

.vx-currency::before {
  content: '\0035';
}

.vx-plus::before {
  content: '\0036';
}

.vx-credit-card::before {
  content: '\0037';
}

.vx-user::before {
  content: '\0038';
}

.vx-apps::before {
  content: '\0040';
}

.vx-gateway::before {
  content: '\0041';
}

.vx-graph::before {
  content: '\0046';
}

.vx-actuator::before {
  content: '\0045';
}

.vx-sensor::before {
  content: '\0044';
}

.vx-logo::before {
  content: '\0097';
}

.vx-fruit::before {
  content: '\0076';
}

.vx-burguer::before {
  content: '\0047';
}

.vx-home::before {
  content: '\0048';
}

.vx-search::before {
  content: '\0049';
}

.vx-bar-graph::before {
  content: '\004A';
}

.vx-files::before {
  content: '\004B';
}

.vx-sales::before {
  content: '\004C';
}

.vx-dialog::before {
  content: '\004D';
}

.vx-settings::before {
  content: '\004E';
}

.vx-users::before {
  content: '\004F';
}

.vx-facebook::before {
  content: '\0053';
}

.vx-google::before {
  content: '\0051';
}
